@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;900&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}

::selection {
  background: $color-selection;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
